/**
Базовые стили
*/
/* roboto-100 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto-v19-cyrillic_latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-cyrillic_latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v19-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v19-cyrillic_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-cyrillic_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
	font-weight:400;
	font-size:1rem;
	line-height: 1.15;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
}

.base-color-red {
	background-color:rgb(238, 57, 57);
}
.base-color-dark-gray {
	background-color: rgb(25, 25, 25);
}
.base-color-gray {
	background-color: rgb(46, 46, 46);
}
.base-color-light-gray {
	background-color: rgb(70, 70, 70);
}
.font-color-red {
	color: rgb(238, 57, 57);
}
.slim{
	font-weight: 100;
}
.strong {
    font-weight: 900;
}
img {
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(60%);
  	-moz-filter: grayscale(60%);
  	-o-filter: grayscale(60%);
  	-ms-filter: grayscale(60%);
  	filter: grayscale(60%);
}
a:visited {
	color: inherit;
}
a:hover *, a:hover, a *, a, a:active *, a:active, a:focus *, a:focus {
    text-decoration: none;
    outline: none!important;
    background: 0 0;
	color: inherit;
	transition: color .12s;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
/*---*/

/*  */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.col-no-gutters{
	padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}

.col-no-gutters--left {
    padding-left: 0;
    
}
.col-no-gutters--right {
    padding-right: 0;
}

/*.sp-?*/
.sp-mask{
	z-index: 0;
}
.sf-with-ul{
	z-index: 1;
}
/* --====== Header ====== */
/*Отоспаться и навести порядок в Коде !!!! */

header {
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(25,25,25,0.25);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(25,25,25,0.25);
	box-shadow: inset 0px 0px 40px 0px rgba(25,25,25,0.25);
}
@media (min-width: 576px){
	.nav-content .container {
		width: 100%;
	}
}
/*-- Brand --*/
.brand {
	text-align: left;
}
h1.brand  {
	margin-bottom: 0;
}
.brand {
	font-size: 4.375rem;
}
.brand img {
	padding-right: 1rem;
	height: 5rem;
    filter: invert(100%);
}
.quotes:before {
	content:"\201C";
	font-size: inherit;
	margin-right: .5rem;
}
.quotes:after {
	content: "\201E";
	font-size: inherit;
	margin-left: .5rem;
}@media screen and (max-width: 1199px){
	.brand {
		text-align: center;
	}
	.brand {
		font-size: 3rem;
	}
	.brand img {
		height: 4.5rem;
	}
}
@media screen and (max-width:992px) {
	.brand {
		font-size: 2rem;
	}
	.brand img {
		height: 4rem;
	}
}
@media screen and (max-width:768px) {
	.brand {
		font-size: 1.25rem;
	}
	.brand img {
		height: 3rem;
	}
}


/*-- Slider1 text start--*/

.sp-slide p.sp-layer--big {
    width: 65% !important;
    font-size: 2rem;
    white-space: normal !important;
    padding: .5rem;
    height: 2.75rem !important;
}

.sp-slide p.sp-layer--small {
    width: 72% !important;
    font-size: 1.75rem;
    color: rgb(238, 57, 57);
    white-space: normal !important;

    height: 2rem !important;
    line-height: 1.1;
}
@media screen and (min-width: 576px) and (max-width: 1279px) {
	.sp-slide p.sp-layer--big {
		font-size: 3.75rem;
		/*height: 3.75rem !important;*/
	}
	.sp-slide p.sp-layer--small {
		font-size: 3rem;

	}
}

@media screen and (min-width: 1280px){
	.sp-slide p.sp-layer--big {
		font-size: 8.75rem;
		/*height: 8.75rem !important;
		top: -10.65rem !important;*/
	}
	.sp-slide p.sp-layer--small {
		font-size: 4.8125rem;
		font-weight: 100;
	}
}



/*-- Slider1 text end--*/
/*wellcome start*/

/**
section text
*/
.section-text-block__header {
	font-size: 4.375rem;
    letter-spacing: -1px;
}
@media screen and (max-width: 1199px){
		.section-text-block__header {
			font-size: 3rem;
	}
}

.section-text-block__header-span {
	display: block;
    font-size: 2rem;
    font-weight: 400;
}
.section-text-block__text {
	line-height: 2;
}

/**
image-box
*/

.base-style{
	padding: 6.25rem 0;
}
.base-style-think {
	padding:3.125rem 0;
}
.image-box{
	display: flex;
}
.image-box img{
	width: 100%;
}
.small{
	flex: 1 1 50%;
	flex-direction: column;
}
.big{
	flex: 1 1 50%;
}


/**
section text
*/
/* wellcome end*/


/*what start*/

/**
section text
*/

.what {
	background-image: url("../images/parallax/parallax1.jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
}
.great {
	background-image: url("../images/parallax/parallax2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 9rem 0 12.625rem;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}
@media screen and (max-width: 576px){
	.great, .what {
		background-attachment: inherit;
	}
}
/* !!!!!!!! разобраться с offset!!!!!!!! и parallarax css3 !!!!!!!!!!!!!!!
/**
section text
*/
/* what end*/

/*servises start*/

/**
section text
*/
@media screen and (max-width: 1199px){
	.servises .section-text-block__header {
		margin-bottom: 2rem;
	}
}

.servises-text {
	padding: 3rem 2rem;
}

/*Ссылки*/
a.section-block__text-link_red,
a.section-block__text-link_white {
	font-size: 1.5rem;
	display: inline-block;
    padding: .5rem 0;
    text-decoration: underline;
}
a.section-block__text-link_red {
	color: rgb(238, 57, 57);
}
a.section-block__text-link_white {
	color: rgb(255, 255, 255);
}
a.section-block__text-link_red:hover,
a.section-block__text-link_red:active,
a.section-block__text-link_red:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
a.section-block__text-link_white:hover,
a.section-block__text-link_white:active,
a.section-block__text-link_white:focus {
	color: rgb(47, 47, 47);
	text-decoration: none;
}
/*Ссылки*/

/* Блок с картинками */
.no-padding {
	padding: 0; 
}
@media screen and (min-width: 1200px){
	.no-padding {
    	max-width: 1170px;
	}
}

.section-text-block__header_x--3 h3{
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 1.1;
}
.image-left,
.image-right {
	text-align: left;
}
.image-left img,
.image-right img {
	width: 100%;
}
.offset-md-5 {
	margin-left: 0;
}
@media screen and (min-width: 756px) and (max-width: 992px){
	.margin-center {
		margin: 3rem 0;
	}
	.offset-md-5 {
		margin-left: 41.666667%;
	}
	.image-left img,
	.image-right img {
		
	}
}
@media screen and (min-width: 992px) {
	.box-item {
		display: flex;
		align-items: center;
	}
	.section-block__image {
		margin-right: -5%;
    	flex: 1 1 40%;
	}
	.servises-text {
		z-index: 1;
    	flex: 1 1 50%;
	}
	.margin-center .servises-text {
		margin-left: -15px;
	}
	.image-right {
		margin-right: 0;
		margin-left: -5%;
	}
	.margin-center {
		margin: -72px 0;
	}
}
/*Блок мероприятия */

/**
section text
*/
/* servises end*/

/*great start*/

/**
section text
*/

/*Блок мероприятия */

.event .servises-text {
	padding-top: 0px;
    padding-bottom: 1rem;
}
.event .section-text-block__header {
	
    padding: 1rem 0;
    margin: -2rem 0 1rem;
    font-size: 1.25rem;
}
@media screen and (max-width: 992px) {
	.event .section-text-block__header {
		margin: 0;
		margin-bottom: 1rem;
	}
}
.event .now {
	background-color: rgb(238, 57, 57);
}
.event .later {
	background-color: rgb(46, 46, 46);
}

/**
section text
*/
/* great end*/

/*contacts start*/

/**
section text
*/
.org {
	font-size: 2rem;
	margin: 1rem 0;
}
.adr {
	font-size: 1.1rem;
	margin: 1rem 0;
}
.links__icon-link_red,
.links__icon-link_white {
	display: inline-block;
	font-size: 2rem;
	padding: 1rem 0;
}
a.links__icon-link_red {
	color: rgb(238, 57, 57);
}
a.links__icon-link_white {
	color: rgb(70, 70, 70);
}
a.links__icon-link_red:hover,
a.links__icon-link_red:active,
a.links__icon-link_red:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
a.links__icon-link_white:hover,
a.links__icon-link_white:active,
a.links__icon-link_white:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.social li{
	display: inline-flex;
	display: inline-block;
}
.social .links__icon-link_white {
	font-size: 3rem;
}
@media screen and (max-width: 768px) {
	.social .links__icon-link_white {
	    font-size: 3rem;
	    line-height: 1.1;
	}
	.vard .links__icon-link_red,
	.vcard .links__icon-link_white {
		padding: 0
	}
	.adr {
		margin: 0;
	}
	.base-style footer {
		padding-top: 4.6875rem;
	}
}
@media screen and (max-width: 992px) {
	.contact .section-text-block__header {
		margin-top: 2rem;
	}
}

/**
.section text
*/
/*contacts end*/
/*Form*/
.form-container {
	display: none;
}
/*-- Menu --*/
.menu-section-text-block__text {
	padding: 1rem;
	background-color: rgb(46, 46, 46);
	box-shadow: 0px 0px 22px -1px rgba(25,25,25,0.75) inset;
	-webkit-box-shadow: 0px 0px 22px -1px rgba(25,25,25,0.75) inset;
	-moz-box-shadow: 0px 0px 22px -1px rgba(25,25,25,0.75) inset;
}

.menu-section-text-block__text--outside-shadow {
	padding: 1rem;
	background-color: rgb(25, 25, 25);
	box-shadow: 0px 0px 22px -1px rgba(25,25,25,0.75);
	-webkit-box-shadow: 0px 0px 22px -1px rgba(25,25,25,0.75);
	-moz-box-shadow: 0px 0px 22px -1px rgba(25,25,25,0.75);
}
/*Заголовки меню*/
.menu__text-block-header-x3,
.menu__text-block-header-x3--right {
	color:rgb(238, 57, 57);
	font-size: 2rem;
	text-transform: uppercase;
	padding-bottom: 1rem;
}
.menu__text-block-header-x3{
	text-align: left;
}
.menu__text-block-header-x3--right {
	text-align: right;
}
.square-brackets {
	color: #fff;
}
.square-brackets:before {
	content: "\005B";
}
.square-brackets:after{
	content: "\005D";
}
/*Карточка меню*/
.card--grid {
	display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
img.card__image {
    -webkit-filter: grayscale(0.5);
    -moz-filter: grayscale(0.5);
    -o-filter: grayscale(0.5);
    -ms-filter: grayscale(0.5);
    filter: grayscale(0.5);
}
img.card__image:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
}
.card__title-content--is-action,
.card__is-action,
.card__price__current--is-action {
	color:rgb(238, 57, 57);
}
.card__main-content {
	padding: .75rem 0;
}
.card__more-content {
    text-align: left;
}
.card__price__current,
.card__price__current--is-action {
	display: inline-block;
    padding: 1rem 1.25rem;
    border-radius: 5%;
    font-weight: 900;
}
.card__price__current {
	background-color: rgb(70, 70, 70);
}
.card__price__current--is-action {
	background-color: rgb(255, 255, 255);
}
.card__name {
	text-transform: uppercase;
}
.card__price {
    margin-top: auto;
}
/*Кнопка смотреть все меню*/
.menu-block-link {
	display: flex;
	margin-top: 1rem;
}
.menu-block-link__link {
	display: flex;
    margin: 0 auto;
    background-color: rgb(70,70,70);
}
.menu-block-link__link:hover{
	background-color: rgb(70,70,70);
}
.menu-block-link__icon {
	display:inline-block;
	width: 3.2rem;
    height: 3.2rem;
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(238, 57, 57);
    background: #fff;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
}
.menu-block-link__link:hover .menu-block-link__icon{
	color: #fff;
	background: rgb(238, 57, 57);
}
.menu-block-link__text {
	font-size: 1.25rem;
    padding: 0.975rem .5rem;
    line-height: 1;
}
/*Навигация по Menu*/
.navigation-bar {
	position: fixed;
	right: 0;
	top: 15%;
	z-index: 10;
}
.navigation-bar .menu-block-link {
	margin: 0;
}
.menu-block-link__link.vertical {
	flex-direction: column;
    align-items: center;
    margin: 0;
}
.menu-block-link__text.vertical {
	writing-mode: tb-rl;
    transform: rotate(180deg);
}
@media screen and (max-width:640px) {
	.menu-block-link__text.vertical {
		display: none;
	}
} 

