/* Блок Яндекс.Карта */
#map-yandex {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 40rem;
  cursor: pointer;
  background-color: rgba(70, 70, 70, .95);
  box-shadow: 0 0 2em  0 rgba(0,0,0,.2);
  cursor: pointer;
}

/* Блок Яндекс.Карта */