    
/*** Navigation Styles ***/
.nav-content {
  position: relative;
  z-index: 10;
  /*transition: all 0.3s;*/
}
.nav-content .row {
  align-items: center;
}
.nav-content.navShadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  /*height: 100px;*/
  position: fixed;
  width: 100%;
  padding: .625rem 0;
  background-color: rgb(70, 70, 70);
  border-bottom: 1px solid rgb(0,0,0);
}
/*nav.navShadow #word-mark {
  opacity: 0;
}
#brand,
#menu,
ul {
  display: flex;
  align-items: center;
}
#brand {
  padding-left: 40px;
}
#logo {
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
#word-mark {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  margin-left: 20px;
  opacity: 1;
  transition: all 0.3s;
}
/*** Menu Styles ***/
/*#menu {
  justify-content: flex-end;
  padding-right: 40px;
}
li {
  margin-left: 20px;
}
li a {
  width: 80px;
  height: 20px;
  background: #fff;
  display: block;
  border-radius: 90px;
}*/

.menu-toggle,
.form-toggle {
  width: 4rem;
  height: 3.2rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  cursor: pointer;
  display: none;
}
.menu-toggle:hover .bar,
.form-toggle:hover .bar {
  width: 25px;
}
.menu-toggle.closeMenu .bar,
.form-toggle.closeMenu .bar {
  width: 25px;
}
.menu-toggle.closeMenu .bar:first-child,
.form-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
.menu-toggle.closeMenu .bar:nth-child(2),
.form-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu-toggle.closeMenu .bar:last-child,
.form-toggle.closeMenu .bar:last-child
 {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: rgb(238, 57, 57);
  /*transition: 0.3s ease-in-out;*/
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}
/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 767px) {
  .menu-toggle,
  .form-toggle {
    display: flex;
  }

  nav ul,.form-container.showMenu {
    display: inline-block;
    width: 100%;
    height: 0;
    position: fixed;
    bottom: 4.05rem;
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
  }
  ul.showMenu, 
  .form-container.showMenu {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    background-color: rgb(70, 70, 70);
    border-top: 1px solid rgb(0,0,0);
    padding: .5rem 0;
  }
  ul.showMenu li {
    height: 80px;
    opacity: 1;
    visibility: visible;
  }

  nav li {
    width: 50%;
    height: 80px;
    float: left;
    /*padding-left: 40px;*/
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    /*Убрать в мобильном меню!!!*/
    /*transition: all 0.3s 0.1s;*/
    
  }
  .sf-menu > li > a:before {
  bottom: 0;

  }
  #head-line {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  }

}
/*Все, что меню касается...*/
.mobile-menu {
  position:fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: .4rem 0;
  background-color: rgb(70, 70, 70);
  border-top: 1px solid rgb(0,0,0);
}
.nav-mobile {
  padding-left: 0px;
}
/*toTop*/
.toTop {
  width: 4rem;
  height: 3.2rem;
  font-size: 1.5rem;
  line-height: 3rem;
  color: rgb(238, 57, 57);
  background: #fff;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  z-index: 20;
  display: inline-block;
  cursor: pointer;
    /* opacity: 0; */
}
@media screen and (min-width: 576px){
  /* toTop Button */
  .toTop {
    position: absolute;
    right: 66px;
    bottom: 160px;
  }
}
.toTop:hover, .toTop:active,
.menu-toggle:hover, .menu-toggle:active,
.icon-comment:hover, .icon-comment:active{
  color: #fff;
  background: rgb(238, 57, 57);
  text-decoration: none;
}
.menu-toggle:hover .bar, .menu-toggle:active .bar {
  background: #fff;
}
/*.menu-toggle:hover .bar {
    width: 25px;
    background: #fff;
}
/*toTop*/
/*Form*/
.form__icon {
    width: 4rem;
    height: 3.2rem;
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(238, 57, 57);
    background: #fff;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    display: inline-block;
    cursor: pointer;
}
@media screen and (max-width: 576px){
  .form__text{
    display: none;
  }
  .form-toggle .menu-icon {
    display: none;
  }
  .closeMenu .menu-icon {
    display: inline-block;
  }
  .closeMenu .form__icon {
    display: none;
}
}


/*Form*/
.form-container {
  width: 100%;
  color: #fff;
  z-index: 9;
}
.message-form {
    width: 100%;
}
.message-form--body-input,
.message-form--body-input-textarea {
  margin-bottom: 30px;
}
.message-form--body-input input,
.message-form--body-input-textarea textarea{
  outline: none;
  border: none;
  color: #fff !important;
  background: #3b3b3b;
  padding: .75rem 1.25rem;
  width: 90%;
  line-height: 2;
}
.message-form--btn {
  margin-bottom: .5rem;
}
.btn {
  padding: 1rem 2rem;
    display: inline-block;
    font-size: 1.25rem;
    background: #ee3939;
}
.btn:hover,
.btn:active,
.btn:focus {
  background: rgb(47,47,47);
}

/**/

